main #sobreImg img{
    animation: aparecerImg;
    animation-duration: 1s;
}

main #sobreConteudo{
    animation: aparecerConteudo;
    animation-duration: 1s;
}
@keyframes aparecerImg {
    from{
        opacity: 0;
        transform: translateX(-700px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes aparecerConteudo {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}