footer{
    height: 9vh;
    width: 100%;
}
footer #footerLinha{
    box-shadow: #000000 0px 0px 3.5px;
    height: 0.01vh;
    width: 100%;
    background-color: #00000027;
}

footer .footerDiv{
    width: 100%; height: 9vh;
    display: flex; justify-content: space-around;
    padding-top: 10px;
}
footer .footerDiv #footerDireito{
    height: 9vh; width: 50vw;
    display: flex; align-items: center;
}
footer .footerDiv #imgAutor{
    height: 9vh;
}
footer .footerDiv #imgAutor img{
    height: 100%; width: 100%;
}
footer .footerDiv #sobreAutor{
    height: 9vh; width: 58%;
    padding-left: 10px;
}

footer .footerDiv #footerEsquerdo{
    height: 9vh; width: 50vw;
    display: flex;
    justify-content: center;
    align-items: end;
}